.App {
  width: 100vw;
  height: 100vh;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer input {
  width: 200px;
  height: 40px;
  margin: 7px;
  border: 2px solid #3f51b5;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 215px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #3f51b5;
  color: #fff;
  cursor: pointer;
}

/* Chat Penceresi */
.chat-window {
  width: 300px;
  height: 420px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.chat-header {
  height: 45px;
  border-radius: 10px 10px 0 0;
  background: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-header p {
  color: white;
  font-weight: bold;
}

.chat-body {
  height: 335px; /* header ve footer hariç alan */
  border: 1px solid #ddd;
  background: #ece5dd;
  position: relative;
  overflow-y: scroll; /* Kaydırma çubuğu */
  padding: 10px;
}

.chat-footer {
  height: 40px;
  border-radius: 0 0 10px 10px;
  display: flex;
  border-top: 1px solid #ddd;
}

.chat-footer input {
  flex: 85%;
  height: 100%;
  border: none;
  padding-left: 10px;
  border-radius: 0 0 0 10px;
  outline: none;
}

.chat-footer button {
  flex: 15%;
  height: 100%;
  background: #43a047;
  border: none;
  color: white;
  border-radius: 0 0 10px 0;
  cursor: pointer;
}

/* Mesaj Baloncukları */
.message {
  display: flex;
  padding: 5px;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  background-color: #dcf8c6;
  border-radius: 5px;
  padding: 5px 10px;
  max-width: 200px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  max-width: 200px;
}

.message-meta {
  display: flex;
  font-size: 10px;
  color: #555;
  margin-top: 2px;
}

#you .message-meta {
  justify-content: flex-end;
}

.message-content p {
  color: #000 !important; /* Yazıyı zorla SİYAH yap */
}

/* Gelen mesajın arka planı */
#other .message-content {
  background-color: #ffffff;
  border: 1px solid #ddd; /* Daha belirgin olsun diye kenarlık */
}

/* Benim mesajımın arka planı */
#you .message-content {
  background-color: #dcf8c6;
  border: 1px solid #dcf8c6;
}